<h1 mat-dialog-title>Create Todo</h1>
<div mat-dialog-content>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="Task name" [(ngModel)]="creationTodo.todo.text">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-select placeholder="Category" 
                    [(ngModel)]="selectedCategory"
        >
            <ng-container *ngFor="let card of data">
                <mat-option value="{{card.title}}">
                    {{card.title}}
                </mat-option>
            </ng-container>
            <mat-option value="new">New category</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="selectedCategory === 'new'">
        <input matInput 
               placeholder="Category name" 
               [(ngModel)]="creationTodo.todo.project_title"
        >
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button 
            (click)="onCancelClick()"
    >
        Отмена
    </button>
    <button mat-button 
            [mat-dialog-close]="creationTodo" 
            (click)="createTodo()" 
            cdkFocusInitial
    >
        Ок
    </button>
</div>